<div class="container">
  <div class="contenido">
    <div class="week">
      <app-week-wheater (selectedDay)="selectedDay($event)"></app-week-wheater>
    </div>

    <div class="day">
      <app-day-wheater [daySelected]="forecastDay"></app-day-wheater>
    </div>
  </div>
</div>