<div class="container">
  <form novalidate class="title" (ngSubmit)="onSubmit()">
    Current weather for 
    <input matInput placeholder="City" [(ngModel)]="city" name="city">
    <button class="boton" type="submit" mat-stroked-button>Entrar</button>
  </form>

  <div class="contenido">
      <!-- <div *ngFor="let item of forecastWeek">
          {{item.date}} - {{item.temp}}
      </div> -->
      <table mat-table [dataSource]="forecastWeek" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="temp">
            <th mat-header-cell *matHeaderCellDef> Current temp </th>
            <td mat-cell *matCellDef="let element"> {{element.temp}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="main">
            <th mat-header-cell *matHeaderCellDef> Weather </th>
            <td mat-cell *matCellDef="let element"> {{element.main}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectDay(row)"></tr>
        </table>
  </div>
</div>

