<ul class="container">
    <li>Date: {{daySelected?.date}}</li>
    <li>Current temperature: {{daySelected?.temp}}</li>
    <li>Max: {{daySelected?.maxTemp}}</li>
    <li>Min: {{daySelected?.minTemp}}</li>
    <li>Main: {{daySelected?.main}}</li>
    <li>Description: {{daySelected?.description}}</li>
    <li>Icon: {{daySelected?.icon}}</li>
</ul>


